<div class="multi-selector-4">
    <div class="select-field-4">
    <input type="text" name="" placeholder="Choose Intensity" id="" class="input-selector">
    <span class="down-arrow-4">&blacktriangledown;</span>
    </div>
<!---List of checkboxes and options--->
<!-- Without form input -->
    <div class="list-4">
        <label for="workout-task" class="workout-task">
            <input type="checkbox" class="workout-checkbox" name="" id="task14">
            High
        </label>
        <label for="workout-task" class="workout-task">
            <input type="checkbox" class="workout-checkbox" name="" id="task15">
            Medium
        </label>
        <label for="workout-task" class="workout-task">
            <input type="checkbox" class="workout-checkbox" name="" id="task16">
            Low
        </label>
    </div>
</div>