<div class="multi-selector-3">
          <div class="select-field-3">
            <input type="text" name="" placeholder="Choose Focus" id="" class="input-selector">
            <span class="down-arrow-3">&blacktriangledown;</span>
          </div>
     <!---List of checkboxes and options--->
          <div class="list-3">
                <label for="workout-task" class="workout-task">
                  <input type="checkbox" class="workout-checkbox" name="" id="task9">
                   Arms
                </label>
                <label for="workout-task" class="workout-task">
                   <input type="checkbox" class="workout-checkbox" name="" id="task10">
                   Legs
                </label>
                <label for="workout-task" class="workout-task">
                   <input type="checkbox" class="workout-checkbox" name="" id="task11">
                   Chest
                </label>
                <label for="workout-task" class="workout-task">
                   <input type="checkbox" class="workout-checkbox" name="" id="task12">
                   Full Body
                </label>
                <label for="workout-task" class="workout-task">
                  <input type="checkbox" class="workout-checkbox" name="" id="task13">
                  Cardio
                </label>
            </div>
</div>