<div class="multi-selector-2">
    <div class="select-field-2">
    <input type="text" name="" placeholder="Choose Intensity" id="" class="input-selector">
    <span class="down-arrow-2">&blacktriangledown;</span>
    </div>
<!---List of checkboxes and options--->
<!-- Without form input -->
    <div class="list-2">
        <label for="workout-task" class="workout-task">
            <input type="checkbox" class="workout-checkbox" name="" id="task6">
            High
        </label>
        <label for="workout-task" class="workout-task">
            <input type="checkbox" class="workout-checkbox" name="" id="task7">
            Medium
        </label>
        <label for="workout-task" class="workout-task">
            <input type="checkbox" class="workout-checkbox" name="" id="task8">
            Low
        </label>
    </div>
</div>