<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inserted link's -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Rise2Challenge</title>
</head>


<body>
  <header>
    <div class="main-header-div container-fluid d-flex justify-content-between">
        <div>
            <h1>
              Rise 2 Challenge
            </h1>
        </div>
        <div>
            <nav>
              <a class="nav-a" href="/">Public</a>
              {{#if loggedIn}}
              <a class="nav-a" href="/build-workout">Workout</a>
              <a class="nav-a" href="/your-page">Your Page</a>
              <button type="button" id="logout" class="btn btn-sm logout-btn">Logout</button>
              {{else}}
              <a class="nav-a" href="/login">Login</a>
              <a class="nav-a" href="/signup">Signup</a>
              {{/if}}
            </nav>
        </div>
    </div>
  </header>

  <main>
  {{{body}}}
  </main>

  <footer>
    <div class="container text-center justify-content-end footer-div">
        <span>
            <p class="footer-p">Thank you for using Rise2Challenge<br>For more work, checkout our Githubs:</p>
            <a class="footer-nav" href="https://github.com/kainew5843">Kaine, </a>
            <a class="footer-nav" href="https://github.com/mamadou1991">Mamadou, </a>
            <a class="footer-nav" href="https://github.com/JayWhiteBuffalo">Mason, </a>
            <a class="footer-nav" href="https://github.com/PhuongHoang68">Phuong, </a>
            <a class="footer-nav" href="https://github.com/Vincenttoon">Vincent</a>
        </span>
    </div>
  </footer>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>