  <header>
    <h1>
      <a href="/">Rise 2 Challenge</a>
    </h1>
    <nav>
      <button id="logout" class="btn-no-style">logout</button>

      <a href="/login">login</a>
    </nav>
  </header>

  <script src="/javascript/logout.js"></script>