<div class="container text-center">
        <div class="row">
            <form class="col-12 login-form" id="login-form">
                <div class="input-group input-group-lg input-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Username</span>
                    <input type="text" class="form-control input-field" id="username-login" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>
                  
                  <div class="input-group input-group-lg input-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Password</span>
                    <input type="password" id="password-login" class="form-control input-field">
                  </div>
                  
                  <button type="submit" class="btn btn-lg login-btn">Login!</button>
              </form>
        </div>
</div>

<div class="container text-center">
    <p class="login-signup">Need to signup? <a href='/signup'>Click Here!</a></p>
</div>

<script src="/javascript/login.js"></script>