<div class="container text-center">
        <div class="row">
            <form class="col-12 signup-form">
                <div class="input-group input-group-lg user-info-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Username</span>
                    <input type="text" id="username-signup" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>

                  <div class="input-group input-group-lg user-info-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Email</span>
                    <input type="text" id="email-signup" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>
                  
                  <div class="input-group input-group-lg user-info-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Password</span>
                    <input type="password" id="password-signup" class="form-control input-field">
                  </div>

                  <div class="input-group input-group-lg user-info-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Age</span>
                    <input type="text" id="age-signup" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>

                  <div class="input-group input-group-lg user-info-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Height</span>
                    <input type="text" id="height-signup" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>

                  <div class="input-group input-group-lg user-info-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Weight</span>
                    <input type="text" id="weight-signup" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>

                  <div class="input-group input-group-lg user-info-div">
                    <span class="input-group-text input-title" id="inputGroup-sizing-lg">Gender</span>
                    <input type="text" id="gender-signup" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>
                  
                  <button type="submit" class="btn btn-lg">Signup</button>
                </div>
              </form>
        </div>
    </div>

    <div class="container text-center">
        <p class="login-signup">Already a member? <a href='/login'>Click Here!</a></p>
    </div>

    <script src="/javascript/signup.js"></script>
