:root {
    --primary: #F4F3F3;
    --secondary: #DFDFDF;
    --third: #BFD8D5;
    --fourth: #B1BED5;
    --dark: #1D13AD;
    --dark-green: #026700;
    --grey: #696969;
    --gold: #D9C407;
    --bronze: #B87200;
}

body {
    background-color: var(--secondary);
}

header {
    background-color: var(--fourth);
}

h1 {
    color: var(--dark);
    font-style: italic;
}

a {
    color:#1D13AD;
}

a:hover {
    color:#B87200;
}

button {
    padding: 5px;
}

footer {
    background-color: #B1BED5;
    position: relative;
    bottom: 0;
    width: 100%;
}

.nav-a {
    margin-right: 10px;
    font-size: 20px;
}

.btn {
    background-color: #BFD8D5;
    padding: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #1D13AD;
    color: #F4F3F3;
}

.input-div {
    padding: 2%;
    width: 60%;
    margin: auto;
}

.user-info-div {
    padding: 2%;
    width: 40%;
    margin: auto;
}

.user-info-head {
    margin: auto;
    padding-top: 2%;
}

.input-title {
    background-color: #BFD8D5;
}

.input-field {
    background-color: rgb(177, 190, 213, 0.5);
}

.footer-div {
    font-size: 15px;
}

.footer-p {
    margin-bottom: 1%;
}

.footer-nav {
    font-size: 18px;
}

.login-btn {
    width: 20%
}

.logout-btn {
    margin-right: 7px;
    margin-top: 6px;
    font-size: 20px;
    background-color: #B1BED5;
    color:#1D13AD;
}

.logout-btn:hover {
    background-color: #B87200;
    color: #DFDFDF;
}

.main-cont {
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.side-bar {
    background-color: #BFD8D5;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.side-bar-head {
    text-decoration: underline;
    color:#B87200;
    font-size: 20px;
    padding:20px;
}

.byw-head{
    color:#1D13AD;
    font-size: 30px;
}

.side-bar-sub-head {
    text-decoration: underline;
    color:#B87200;
    padding:20px;
}

.dropdown-btn {
    background-color: #1D13AD;
    color: #BFD8D5;
    text-decoration: none;
    width: 150px;
    margin: 10px;
}

.dropdown-btn:hover {
    background-color: #026700;
}

.results-cont {
    background-color: #DFDFDF;
}

.result-head {
    margin-top: 20px;
    text-decoration: underline;
    margin-bottom: 15px;
    font-style: italic;
    color:#026700;
}

.result-return {
    background-color: #B1BED5;
    border-style: solid;
    border-color: #026700;
    margin-bottom: 30px;
}

.return-text {
    margin-top: 12px;
}

.public-head {
    padding: 15px;
    text-decoration: underline;
    font-style: italic;
    color: #B87200;
}

.result-return-public {
    background-color: #B1BED5;
    border-style: solid;
    border-color: #026700;
}

.public-date {
    margin-bottom: 30px;
}

.yp-head {
    padding: 15px;
    font-style: italic;
    color: #B87200;
}

.yp-info {
    margin-top: 40px;
}

.fav-btn {
    margin-top: 15px;
    background-color: #026700;
    color: #DFDFDF;
}

.fav-btn:hover {
    background-color: #B87200;
}

.delete-btn {
    margin-top: 15px;
    background-color: #AD1F39;
    color: #DFDFDF;
}

.delete-btn:hover {
    background-color: #DFDFDF;
    color:#AD1F39;
}

.new-workout-span {
    margin-top: 30px;
}

.counter {
    margin-top: 10px;
    color: #1D13AD;
}

.user-info-cont {
    border-style: solid;
    border-top: #DFDFDF;
    border-right: #DFDFDF;
    border-left: #DFDFDF;
    border-color: #1D13AD;
    margin-bottom: 15px;
}

.counter-cont {
    border-style: solid;
    border-top: #DFDFDF;
    border-right: #DFDFDF;
    border-left: #DFDFDF;
    border-color:#B87200;
}

.single-post-user-info {
    margin-top: 20px;
}

.comment-form {
 margin-top: 25px;
 margin-bottom: 25px;
}
.comment-area {
    width: 95%;
    height: 100px;
}

.comment-btn {
    margin-top: 25px;
}

.comment-fav-btn {
    margin-left: 25px;
    background-color: #026700;
    color:#DFDFDF;
}

.comment-fav-btn:hover {
    background-color: #B87200;
}

.comments-cont {
    background-color: #BFD8D5;
    border-style: solid;
    border-color: #B87200;
    width: 75%;
    margin-bottom: 20px;
}

.comment {
    background-color:#DFDFDF;
}

.comment-date {
    background-color: #BFD8D5;
    
}

.ctxt-txt {
    margin-top: 10px;
}

input{
    outline: none;
    border: none;
}
.multi-selector, .multi-selector-2, .multi-selector-3, .multi-selector-4{
    width: max-content;
    margin: auto;
}

.multi-selector-3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.multi-selector-4 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.select-field, .select-field-2, .select-field-4, .select-field-4{
    border: 1px solid rgb(187, 187, 187);
}
.select-field, .select-field-2, .select-field-3, .select-field-4, .workout-task,.exercise-task, .list, .list-2, .list-3, .list-4{
    width: 100%;
    background-color: white;
    padding: 0.3rem;
}
.list, .list-2, .list-3, .list-4 {
    box-shadow: 0 30px 60px rgb(0,0,0,0.2);
    max-height: 200px;
    overflow: auto;
    display: none;
}
.down-arrow, .down-arrow-2, .down-arrow-3, .down-arrow-4{
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s linear;
}
.workout-task, .exercise-task{
    display: block;
    padding-left: 0;
}
.workout-task span{
    float: right;
    font-size: 0.6rem;
    padding-top: 6px;
}
.exercise-task span{
    float: right;
    font-size: 0.6rem;
    padding-top: 6px;
}
.workout-task:hover{
    background-color: aliceblue;
}
.exercise-task:hover{
    background-color: aliceblue;
}

.hide-exercise {
    display: none;
}

.hide-workout {
    display: none;
}

.show{
    display: block;
}

.rotate180{
    transform: rotate(-60deg);
}

.submit-btn-cont {
    padding: 3%
}

.submit-btn {
    background-color: #1D13AD;
    color: #DFDFDF;
    width: 70%;
}

.submit-btn:hover {
    background-color: #DFDFDF;
    color: #1D13AD;
}

.create-workout-cont {
    padding-top: 10px;
}

.create-txt {
    margin-top: 10px;
}

.create-workout, .create-exercise {
    padding-top: 10px;
    display: none;
}

.create-workout-input, .create-exercise-input {
    width: 60.5%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-workout-submit, .create-exercise-submit {
    background-color: #026700;
    color: #F4F3F3;
    width: 70%;
    padding-top: 10px;


}

.create-workout-submit:hover {
    background-color: #F4F3F3;
    color: #026700;
}

.create-exercise-submit:hover {
    background-color: #F4F3F3;
    color: #026700;
}

.result-return:hover {
    opacity: .5;
}

.select{
    opacity: .5;
}

@media screen and (max-width: 350px) {
    .user-info-div {
        width: 100%;
    }

    .input-div {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) { 
    .user-info-div {
        width: 80%;
    }

    .input-div {
        width: 90%;
    }

    h1 {
        font-size: 40px;
    }

    .create-workout-input {
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .user-info-div {
        width: 60%;
    }

    .side-bar-head {
        padding: 10px;
    }

    .create-workout-submit {
        max-width: 40%;
        max-height: 20%;
    }

    .create-workout-input {
        width: 55%;
    }

    .multi-selector-3, .multi-selector-4 {
        width: 50%;
    }
}